nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}
ul{
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-between;

}
ul li a{
    text-decoration: none;
    color: aqua;
}
.active{
    background-color: blue;
}